.tile {
  background-color: grey;
  height: 200px;
  width: 200px;
  margin: 4px;
  padding: 4px;
}

.tile-active {
  background-color: red;
}

.tiles-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: fit-content;
  height: fit-content;
}
